<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/contact">Kontakt</a></li>
	    <li><a href="{{ site.baseurl }}/impressum">Impressum</a></li>
	    <li><a href="{{ site.baseurl }}/licences">©karlstatik GmbH, Alle Rechte vorbehalten</a></li>
	    <li><a href="{{ site.baseurl }}/licences">Open Source Lizenzen</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
